@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.sidebar {
  width: 260px;
  height: 90vh;
  overflow: hidden;

  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 900;

  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;

  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 25px;
  padding: 0 !important;
}

.sidebar-toggle {
  height: 40px !important;
  width: fit-content !important;

  padding: 0 !important;
  position: absolute;
  top: 50%;
  right: 0;

  color: #dc3545;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;

  line-height: 1;
  cursor: pointer;
  font-size: 1.5rem;

  z-index: 901;

  transform: translateY(-50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  margin: 1.5rem 0 0.75rem;
  color: #6c757d;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-weight: 400 !important;
  font-size: 0.95rem !important;
  font-family: "Montserrat", sans-serif;

  letter-spacing: 0.6px;
  color: #495057 !important;
  padding: 0.4rem 1rem !important;

  transition: color 0.2s ease-in-out;
}

.sidebar .nav-link:hover {
  color: #495057 !important;
  background-color: rgba(116, 143, 139, 0.1);
}

.sidebar .nav-link.active {
  font-weight: 600 !important;
  color: #748f8b !important;
  border-bottom: none !important;
  text-decoration: none !important;
  background-color: rgba(116, 143, 139, 0.15);
  border-left: 3px solid #748f8b;
}
