.logo {
  height: 4vh;
  max-height: 48px;

  object-fit: contain;
  object-position: center;
}

.navbar {
  height: 10vh;
  padding: 0 1rem !important;

  background-color: #dc3545 !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: #f8f9fa !important;

  font-weight: 500 !important;
  font-size: 1.05rem !important;

  padding-bottom: 0.25rem !important;

  transition: color 0.3s ease, border-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navbar-text {
  color: #c1ff07ac !important;

  font-weight: 500 !important;
  font-size: 1.05rem !important;

  padding-bottom: 0.25rem !important;
}

.nav-link:hover {
  color: #ced4da !important;
  border-bottom-color: rgba(206, 212, 218, 0.6);
}

.nav-link.active {
  font-weight: 600 !important;
  color: #ffffff !important;
  border-bottom: 2px solid #adb5bd;
}

.nav-link.active:hover {
  color: #ffffff !important;
  border-bottom-color: #adb5bd;
}

.offcanvas-header {
  border-bottom: 1px solid #dee2e6;
}

.offcanvas-body {
  padding-top: 1rem;

  background-color: #dc3545 !important;
}
